@import "nullstyle.css";

/*general*/
.container-fluid {
    padding: 0;
    max-width: 1320px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*HEADER*/
/*temporary header*/
.header__header {
    background: #CBDCFF;
}
.header__header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: #444748
}

/*main header*/
.header {
    border-bottom: 1px solid #E0E3E3;
}

/*top part*/
.top-content {
    padding: 23px 0;
    border-bottom: 1px solid #E0E3E3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*search*/
.header__search {
    border: 2px solid #E0E3E3;
    border-radius: 4px;
    padding: 11px 0 11px 17px;
    width: 600px;
}
.header__search input {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #5C5F60;
}
.header__search button {
    background: #fff;
    width: 16px;
    height: 16px;
    margin: 0 18px 0 0;
}
/*add order*/
.header__add-order {
    background: #2D3132;
    border-radius: 4px;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 14px 0;
    width: 130px;
}
/*lang*/
.header__land select {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #2D3132;
    background: #fff;
    padding-right: 5px;
}
/*user*/
.header__user {}
.header__user div {
    margin: 0 20px 0 0;
}
.header__user span {
    position: absolute;
    top: -13px;
    right: -2px;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #2D3132;
    background: #EFF1F1;
    border: 2px solid #FFFFFF;
    border-radius: 13px;
    padding: 2px 6px;
}

/*bottom part*/
.bottom-content {
    padding: 16px 0;
}
.bottom-content div {
    padding: 0 16px;
}
.bottom-content div a {
    text-transform: uppercase;
    color: #444748;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    position: relative;
}
.bottom-content .active-nav:after {
    content: '';
    height: 2px;
    width: 130%;
    background: #000;
    position: absolute;
    bottom: -17px;
    left: -15%;
}


/*MAIN*/
main {
    margin: 32px 0 112px 0;
    flex: 1 1 auto;
}

/*breadcrumb*/
.section-breadcrumb {
    margin: 0 0 40px 0;
}
.breadcrumb-item a {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #2D3132;
}
.active-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #747778;
}

/*title*/
.section-page {
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    color: #2D3132;
    margin: 0 0 32px 0;
}

/*filters*/
.filters h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #5C5F60;
    margin: 0 0 25px 0;
}

.accordion .accordion-button {
    background: #EFF1F1;
    padding: 30px 15px;
}
.accordion .accordion-button,
.accordion .accordion-button .collapsed{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #444748;
}
.accordion .accordion-body input {
    width: 17px;
    height: 17px;
    margin: 0 17px 0 0;
}
.accordion .accordion-body label {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #444748;
}
.accordion .accordion-body span {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #747778;
}
.accordion .accordion-body div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accordion .accordion-body .price__info {
    margin: 25px 0 0 0;
    
}
.accordion .accordion-body .price__info div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.accordion .accordion-body .price__info div p {
    margin: 0 0 10px 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #747778;
}
.accordion .accordion-body .price__info div span {
    /*padding-bottom: 13px;*/
    /*border-bottom: 1px solid #C4C7C7;*/
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #111111;
    display: flex;
    flex-direction: column;
}
.accordion .accordion-body .price__info div span:after {
    content: '';
    height: 1px;
    width: 100px;
    background: #C4C7C7;
    margin: 13px 0 0 0;
}

/*sort*/
.article-sort {
    margin: 0 0 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.article-sort label {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #5C5F60;
    margin: 0 12px 0 0;
}
.article-sort select {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #2D3132;
    background: #EFF1F1;
    border-radius: 100px;
    padding: 8px 0;
    width: 170px;
    text-align: center;
}

/*cards article*/
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    flex: 0 1 32%;
    padding: 50px 20px 20px;
    margin: 0 0 24px 0;
}
.card-img-top {
    width: 207px;
    height: 263px;
    object-fit: cover;
    margin: 0 auto;
}
.card-like {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
}
.card-body {
    padding: 0;
}
.card-top {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #00382F;
    background: #B4FFF0;
    border-radius: 4px;
    padding: 4px 8px;
    display: inline;
}
.card-not-top {
    height: 18px;
}
.card-brand {
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    color: #5C5F60;
    text-transform: uppercase;
    margin: 16px 0 0 0;
}
.card-title {
    margin: 4px 0 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #2D3132;
}
.card-bottom {
    margin: 26px 0 0 0;
    padding: 0;
}
.card-bottom div {
    padding: 0;
}
.card-price,
.card-sale {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #2D3132;
    margin: 0;
}
.price-with-sale {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-decoration-line: line-through;
    color: #747778;
    margin: 0;
}
.card-geo {
    margin: 0 0 4px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card-geo img {
    width: 8px;
    margin: 0 4px 0 0;
}
.card-geo p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #2D3132;
    margin: 0;
}
.card-seller {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card-seller img {
    width: 20px;
    margin: 0 8px 0 0;
}
.card-seller p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #2D3132;
    margin: 0;
}

/*pages*/
.pages {
    display: flex;
    justify-content: center;
    margin: 60px 0 115px 0;
}
.pages button {
    background: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #5C5F60;
    padding: 7px 13px;
    margin: 0 10px 0 0;
}
.pages-text {
    border: 1px solid #C4C7C7;
    border-radius: 100px;
}
.pages-num {
    border: 1px solid #C4C7C7;
    border-radius: 50%;
}
.pages-active {
    border: 2px solid #000;
}


/*FOOTER*/
.footer {
    background: #EFF1F1;
    padding: 72px 0 38px 0;
}
.footer section {
    display: flex;
    flex-direction: column;
}
.footer__top {
    padding: 0 0 72px 0;
    margin: 0 0 38px 0;
    border-bottom: 1px solid #C4C7C7;
}
.footer_col {
    display: flex;
    flex-direction: column;
}
.footer_col a,
.footer_col p {
    margin: 0 0 12px 0;
    color: #2D3132;
}
.footer_col a:last-child {
    margin: 0;
}